[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aasm = "==0.0.45"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.10"
