[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
aasm = "*"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.10"
